html, body {
	margin: 0;
	padding: 0;
}

* {
	box-sizing: border-box;
}

.topbar {
	z-index: 1000;
	/* position: absolute; */
	width: 100%;
	display: block;
	height: 50px;
}

.content {
	width: 100%;
}

.sidebar {
	/* position: relative; */
	/* top: 42%; */
	/* left: 85%; */
	/*transform: translate(-50%,-50%);*/
	width: 27%;
	height: 540px; 
	/* padding: 30px 50px; */
	/* box-sizing: border-box; */
	background: rgba(0,0,0,.5);
	float: right; 
	padding: 100px;
}

.statusbox {
	/* position: absolute; */
	/* top: 47%; */
	/* left: 37%; */
	/* transform: translate(-50%,-50%); */
	width: 70%;
	height: 540px; 
	 padding: 30px 40px; 
	/* box-sizing: border-box; */
	background: rgba(0,0,0,.5);
	float: left;
}

.copyright {
	clear: both;
	padding: 20px;
	/*background: rgba(0,0,0,0.5);*/
	text-align: center;
	text-shadow: 0 0 10px black;
}

body{
	background: url(images/tablebook.jpg);
	background-size: cover;
	font-family: Arial;
	color: white;
}

.topbar ul{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.topbar ul li{
	float: left;
	width: 195px;
	height: 40px;
	background-color: black;
	opacity: .9;
	line-height: 40px;
	text-align: center;
	font-size: 16px;
	margin-right: 3px;
	margin-bottom: 3px;
}
.topbar ul li a{
	text-decoration: none;
	color: white;
	display: black;
}
.topbar ul li a:hover{
	background-color: #036A81;
}
.topbar ul li ul li{
	display: none;
}
.topbar ul li:hover ul li{
	display: block;
}
.topbar ul{
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.sidebar ul li{
	width: 200px;
	height: 40px;
	background-color: black;
	opacity: .8;
	line-height: 40px;
	text-align: center;
	font-size: 16px;
	margin-bottom: 3px;
	position: relative;
}
.sidebar ul li a{
	text-decoration: none;
	color: white;
	display: black;
}
.sidebar ul li a:hover{
	background-color: #036A81;
}
.sidebar ul{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.usersidebar{
	/*float: right;	*/
    width: 200px;
    /*position: relative;*/
}
.maincontent {
	position: absolute;
	top: 47%;
	left: 20%;
	transform: translate(-50%,-50%);
	max-width: 500px;
	max-height: 720px;
	padding: 40px 10px;
	box-sizing: content-box;
	background: rgba(255, 255, 255, 0.7);
	color: #555;
}
.sidecontent1{
	position: absolute;
	top: 26%;
	left: 56%;
	transform: translate(-50%,-50%);
	max-width: 400px;
	max-height: 420px;
	padding: 40px 10px;
	box-sizing: content-box;
	background: rgba(255, 255, 255, 0.7);
	color: #555;
}
.sidecontent2{
	position: absolute;
	top: 62%;
	left: 56%;
	transform: translate(-50%,-50%);
	max-width: 400px;
	max-height: 420px;
	padding: 40px 10px;
	box-sizing: content-box;
	background: rgba(255, 255, 255, 0.7);
	color: #555
}

.textarea{
  resize:none;
  width:900px;
  height:200px;
}
.button {
    background-color: #206da1;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.transparant{
	opacity: .8;
}
.search{
	float: right;
	padding: 10px 15px;
	background-color: rgba(0,0,0,.5);
	border: 0px solid #dbdbdb;
}
.images{
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}
.images ul{
	list-style: none;
}
.images li{
	float: left;
	width: 175px;
	display: block;
	margin-right: 50px;
	margin-bottom: 30px;
}
.img_size{
	width: 175px;
	height: 150px;
}
.img-hov:hover{
	transform: scale(1.4);
	transition: all 1s ease-in;
	filter: brightness(.5);
}
.btn{
	background-color: #036A81;
	border: solid #036A81 3px;
    color: white;
    padding: 15px 28px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    font-size: 10px;
    margin-bottom: 5px;
}
.btn:hover{
	color: #fff;
	border: solid #fff 3px;
}
.link ul li{
	font-family: Arial;
	font-size: 18px;
	list-style: none;
}

.statusbox input[type="text"]{
	border: none;
	border-bottom:2px solid #eefdd7;
	background: transparent;
	outline: none;
	height: 20px;
	color: #eefdd7;
	font-size: 16px;
	margin-bottom: 15px;
}
#btn-create{
	float: left;
	border-radius: 7px;
	font-family: Arial;
	color: #eefdd7;
	font-size: 14px;
	padding: 10px 20px;
	border: solid #eefdd7 2px; 
	text-decoration:none;
	align-items: center;
}
#btn-create:hover{
	color: black;
	border: solid #fff 3px;
}