body {
	margin : 0;
	padding: 0;
	background: url(images/gambar_login.jpg);
	background-size: cover;
	font-family: sans-serif;
}
.login{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 350px;
	height: 420px;
	padding: 80px 40px;
	box-sizing: border-box;
	background: rgba(0,0,0,.5);
}
h2{
	margin: 0;
	padding: 0 0 20px;
	color: #bbfffc;
	text-align: center;
}
.login p{
	margin: 0;
	padding: 0;
	font-weight: bold;
	color: #7ededb;
}
.login input{
	width: 100%;
	margin-bottom: 20px;
}
.login input[type="text"],
.login input[type="password"]{
	border: none;
	border-bottom:2px solid #eefdd7;
	background: transparent;
	outline: none;
	height: 40px;
	color: #eefdd7;
	font-size: 18px;
}
::placehorder{
	color: #206da1;
}
.login input [type="submit"]{
	border: none;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 18px;
	background: #ff267e;
	cursor: pointer;
	border-radius: 20px;
}
